# This is for publishing to GitHub Packages
@kelcho-spense:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}

# This is for publishing to npm registry
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
